<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Stats and Battle</title>
</head>
<body>
<div class="home-container text-center">
    <h2 class="mt-4c">Choose Your Adventure</h2>
    
    <!-- Feature Cards -->
    <div class="row justify-content-center mt-4">
        <!-- Pokémon Stats Card -->
        <div class="col-md-6">
            <div class="card feature-card">
                <img src="/img/stst.png" class="card-img-top" alt="Pokémon Stats">
                <div class="card-body">
                    <h5 class="card-title">Pokémon Stats</h5>
                    <p class="card-text">View detailed stats of your favorite Pokémon.</p>
                    <a href="/displayPokemon" class="btn btn-warning">View Stats</a>
                </div>
            </div>
        </div>

        <!-- Pokémon Battle Card -->
        <div class="col-md-6">
            <div class="card feature-card">
                <img src="/img/battle.png" class="card-img-top" alt="Pokémon Battle">
                <div class="card-body">
                    <h5 class="card-title">Pokémon Battle</h5>
                    <p class="card-text">Engage in thrilling Pokémon battles!</p>
                    <a href="/pokemonBattle" class="btn btn-danger">Start Battle</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
